{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Password Reset Complete</h3>
        </div>
      </div>
      <div class="layout__body">
        <p>Your password has been successfully changed.</p>
        <div class="auth__action">
          <p><a href="{% url 'login' %}" class="btn btn--link">Back to login</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
