{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Forgot Password</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" method="POST">
          {% csrf_token %}
          <p>Enter your email address below to receive password reset instructions.</p>
          <div class="form__group">
            <label for="id_email">Email</label>
            <input type="email" name="email" id="id_email" required autofocus />
          </div>
          <button type="submit" class="btn btn--main">Reset Password</button>
        </form>
        <div class="auth__action">
          <p><a href="{% url 'login' %}" class="btn btn--link">Back to login</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
